.gridProducts {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 20px;
}

.product {
  position: relative;
  width: 33.33%;
  margin-bottom: 10px;
}
.product > a > div {
  position: relative;
  padding: 10px 10px 0 10px;
}
.product > a > div:hover {
  opacity: 0.6;
}
.product > a > div:last-of-type {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}
.product > a > div > img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.product > a > div > span {
  font-size: 1.2rem;
}
.product > a > div .price {
  font-size: 1.2rem;
  font-weight: 600;
}

.discount {
  position: absolute;
  left: 10px;
  top: 0;
}

.wishlistIcon {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 1.5rem !important;
  z-index: 1;
}