@import "~/src/scss/index.scss";

.payment > h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.block {
  background-color: $light-green;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: $dark-green;
}
